<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Movie Directors</title>
</head>
<body>
 <h1>Director List</h1>
<div th:each="director : ${directors}">
    <h6 th:inline="text">Specialising in [[${director.genre}]]</h6>
    <ul>
        <th:block th:each="movie : ${director.movies}">
            <li th:inline="text">
                <b>[[${movie.title}]]</b> released in [[${movie.year}]]
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>